
	<div class="position" style=" height: 44px;"></div>

	<div class="top">
		<div class="return" onclick="backPage()"></div>
		我的上级
		<!-- <div class="edit eYes btn" data-motion="edit">筛选</div> -->
	</div>

	<div class="msHead">
		<div class="pic"></div>
		<div class="name">
			<span>昵称</span>
			<p>123456789465</p>
		</div>
	</div>

	<div class="superiorData">
		<div class="msList">
			<div class="left">姓名</div>
			<div class="right">姓名</div>
		</div>
		<div class="msList">
			<div class="left">手机号号</div>
			<div class="right">13245678911</div>
		</div>
		<div class="msList">
			<div class="left">会员等级</div>
			<div class="right">创客</div>
		</div>
	</div>

