
    <div class="top">
        <div class="return" onclick="backPage()"></div>
        个人资料
    </div>

    <div class="pd_boxTop">
        <div class="pd_head">
            <div class="pd_left">头像</div>
            <div class="pd_right">
                <div id="preview"  style="position: relative;top:-3px;"><img src="images/mine/head.png" id="imghead" alt="" style="height:37px;"/></div>
                <input type="file" onchange="previewImage(this)"  id="clicksss" style="position: absolute;width:37px;height:37px;top:0;right:0;opacity: 0;"/>
            </div>
        </div>

        <div class="pd_data">
            <div class="pd_left">昵称</div>
            <div class="pd_goIn"></div>
            <div id="name" class="pd_prompt">游客18322222214</div>
        </div>

        <div class="pd_data">
            <div class="pd_left">性别</div>
            <!--<div class="goIn"></div>-->
            <div class="pd_prompt mar_right"><input type="text" class="pd_input"></div>
        </div>

        <div class="pd_data">
            <div class="pd_left">地区</div>
            <div class="pd_goIn"></div>
            <div class="content-block pd_prompt">
                <input id="demo1" type="text" readonly="" placeholder="城市选择特效"  value="浙江省,杭州市" >
                <input id="value1" type="hidden" value="20,234,504">
            </div>
        </div>

        <div class="pd_data">
            <div class="pd_left">实名认证</div>
            <div class="pd_goIn"></div>
            <div class="pd_prompt">未认证</div>
        </div>

    </div>


    <div class="pd_boxTop">

        <div class="pd_data">
            <div class="pd_left">星座</div>
            <!--<div class="goIn"></div>-->
            <div class="pd_prompt mar_right"><input type="text" class="pd_input"></div>
        </div>

        <div class="pd_data">
            <div class="pd_left">身高</div>
            <!--<div class="goIn"></div>-->
            <div class="pd_prompt mar_right"><input type="text" class="pd_input"></div>
        </div>

        <div class="pd_data">
            <div class="pd_left">体重</div>
            <!--<div class="goIn"></div>-->
            <div class="pd_prompt mar_right"><input type="text" class="pd_input"></div>
        </div>


    </div>

    <div class="pd_preservation">保存</div>


