
<div class="index_warp" style="background-color: #f7f7f7">
    <div class="rankThrough_top">
        <div class="rankThrough_search">
            <div class="rankThrough_searchArea warp_Lt">
                <div class="rankThrough_searchSel">
                <select name="" id="selectSearch">
                    <option value="1">商家</option>
                    <option value="2">店铺</option>
                </select>
                </div>
                <input type="text"/>
                <div class="searchIcon ui_btn" data-action="search"></div>
            </div>
            <span class="warp_Rg" style="color: #fff;" id="btn" onclick="backPage()">取消</span>
        </div>
    </div>
    <div class="rankThrough_history" style="margin-top: 64px;">
        <div class="history">
            <div class="rankThrough_historyTop">
                <span class="warp_lt" style="color: #000;font-size: 16px;">历史记录</span>
                <div class="del warp_Rg"></div>
            </div>
            <div class="rankThrough_historyArea">
                <div class="rankThrough_record">
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon" style="margin-right: 1%">连衣裙</div>
                </div>
                <div class="rankThrough_record">
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon" style="margin-right: 1%">连衣裙</div>
                </div>




            </div>
        </div>
        <div class="hot">
            <div class="rankThrough_historyTop">
                <span class="warp_lt" style="color: #000;font-size: 16px;">精品推荐</span>
                <div class="eye warp_Rg"></div>
            </div>
            <div class="rankThrough_historyArea" style="line-height: 50px;text-align: center">
                <span class="searchInput">当前搜索发现已经关闭</span>
                <div class="rankThrough_record" style="margin-top: 20px;">
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon">连衣裙</div>
                    <div class="rankThrough_historyIcon" style="margin-right: 1%">连衣裙</div>
                </div>
            </div>
        </div>
    </div>


</div>

